extends ../layout/index

block contain
  .py-10 
    h1.text-4xl.my-5.font-extrabold.text-center Bienes
      span.font-normal Raices
    h2.text-center.text-2xl= page

    .mt-8.mx-auto.max-w-md 
      .bg-white.py-8.px-4.shadow 
        form(method="POST" action="/auth/forgotPassword").space-y-5 
          input(type="hidden", name="_csrf" value= csrfToken)
          div 
            label.block.text-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email 
            input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Email" type="email" name="email")
            if errors 
              each e in errors 
                if e.name == "email"
                  p.text-red-600=e.msg 
            
            if message 
              p.text-red-700.text-lg.mt-2.text-center= message[0].msg

          div.flex.items-center.justify-between 
            a.text-gray-500.text-xs(href="/auth/register") ¿No tienes cuenta? Crea una 
            a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes una cuenta? Inicia Sesión 
          
          input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer" type="submit" value="Recuperar contraseña")